<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="FMEAConnection" 
         connectionString="Data Source=localhost;Initial Catalog=FMEADatabase;Integrated Security=True;TrustServerCertificate=True;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <!-- SMTP Ayarları (E-posta Bildirimleri için) -->
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="SenderEmail" value="fmea@firma.com" />
    <add key="SenderPassword" value="" />
    <add key="SMTPEnableSSL" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    
    <!-- Session ayarları -->
    <sessionState mode="InProc" timeout="30" />
    
    <!-- Authentication ayarları -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="30" slidingExpiration="true" />
    </authentication>
    
    <!-- Authorization - Tüm kullanıcılara izin ver (kod bazlı kontrol yapılıyor) -->
    <authorization>
      <allow users="*" />
    </authorization>
    
    <!-- Membership ve Role provider'lar (isteğe bağlı) -->
    <!--
    <membership defaultProvider="SqlMembershipProvider">
      <providers>
        <clear />
        <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" 
             connectionStringName="FMEAConnection" applicationName="/" />
      </providers>
    </membership>
    -->
  </system.web>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  
  <!-- EPPlus Lisans Ayarı -->
  <configSections>
    <section name="EPPlus" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <EPPlus>
    <add key="EPPlus:AllowPackageCreation" value="true" />
  </EPPlus>
</configuration>
